doctype html
html
 head
  title Inicio de sesion
 body
   form(action="/sessions" method="POST")
     input(type="email" name="email" placeholder="Correo electronico")
     input(type="password" name="password" placeholder="Correo electronico")
     input(type="submit" value="Iniciar sesion")